.banner-qa {
  background-image: url("../images/qa.png");
  height: 304px;
}

.banner-content-qa {
  height: 100%;
  display: flex;
  align-items: flex-end;

  h2 {
    font-size: 64px;
    line-height: 80px;
    margin-right: 10px;
    font-weight: bold;
  }
}

.qa {
  padding-top: 88px;
  padding-bottom: 156px;

  h3 {
    font-size: 32px;
    line-height: 63px;
    margin-bottom: 16px;
  }
}

.qa-list {
  border: 1px solid #000;
}

.question {
  padding: 22px 38px;
  border-bottom: 1px solid #000000;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  h4 {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
  }

}

.question .down {
  display: none;
}

.question.show .down {
  display: block;
}

.question.show .up {
  display: none;
}

.answer {
  padding: 22px 38px;
  font-size: 16px;
  line-height: 24px;
  background-color: #F2F2F2;
}

.answer {
  border-bottom: 1px solid #000000;
}